* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  border-bottom: solid 1px black;
}

.container {
  margin: auto;
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 56px;
}

header nav ul {
  display: flex;
  column-gap: 16px;
}

header a {
  color: black;
}

.hero-banner {
  position: relative;
  max-height: 512px;
}

.hero-banner img {
  width: 100%;
  object-fit: cover;
  max-height: 512px;
}

.hero-banner .text {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 16px;
  margin: 32px;
  background-color: #00000033;
}

.hero-banner .title {
  margin-bottom: 8px;
}

.hero-banner .subtitle {
  font-size: 18px;
}
